@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.App {
  text-align: center;
}

nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  color: #FFFFFF;
  background: black;
}

span.logo {
  font-size: 40px;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 4px;
  color: #DB202C;
}


.nav-menu {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}

/*Caroussel*/

button.netflixClone-acceuil-button.btn.btn-light {
  position: absolute;
  right: 0;
  top: 10px;
  margin-right: 60px;
}

.netfilxClone-acceuil-link {
  color: black;
  text-decoration: none;
}

.netfilxClone-acceuil-link:hover {
  color: #000000;
  font-weight: 500;
}

a.carousel-control-prev {
  display: none;
}

a.carousel-control-next {
  display: none;
}

.caroussel-image {
  width: 100%;
  max-width: 100%;
  height: calc(100vh - 80px);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
